{% load static %}
<footer class="footer">
    <section class="footer__container container">
        <nav class="nav nav--footer">
            <h2 class="footer__title">Kepler</h2>

            <ul class="nav__link nav__link--footer">
                <li class="nav__items">
                    <a href="#" class="nav__links">Inicio</a>
                </li>
                <li class="nav__items">
                    <a href="#" class="nav__links">Nosotros</a>
                </li>
                <li class="nav__items">
                    <a href="#" class="nav__links">Productos</a>
                </li>
                <li class="nav__items">
                    <a href="#" class="nav__links">Login</a>
                </li>
            </ul>
        </nav>
    </section>

    <section class="footer__copy container">
        <div class="footer__social">
            <a href="#" class="footer__icons"><img src="{% static 'image/bd.svg' %}" class="footer__img"></a>
            <a href="#" class="footer__icons"><img src="{% static 'image/django.svg' %}" class="footer__img"></a>
            <a href="#" class="footer__icons"><img src="{% static 'image/git.svg' %}" class="footer__img"></a>
        </div>

        <h3 class="footer__copyright">Tienda de Cafe Kepler</h3>
    </section>
</footer>

<script>
    window.CSRF_TOKEN = "{{ csrf_token }}"; 
</script>
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="{% static 'js/beneficios.js' %}"></script>
<script src="{% static 'js/menu.js' %}"></script>
<script src="{% static 'js/link.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>