{% load static %}
<nav class="nav container">
    <div class="nav__logo">
        <h2 class="nav__tittle">Kepler</h2>
    </div>
    <ul class="nav__link  nav__link--menu">
        <li class="nav__items">
            <a href="{% url 'home' %}" class="nav__links">Inicio</a>
        </li>
        <li class="nav__items">
            <a href="{% url 'home' %}" class="nav__links">Nosotros</a>
        </li>
        <li class="nav__items">
            <a href="{% url 'shop' %}" class="nav__links">Tienda</a>
        </li>
        <li class="nav__items">
            <a href="#" class="nav__links">Login</a>
        </li>
        <img src="{% static 'image/close.svg' %}" alt="" class="nav__close">
    </ul>
    <div class="nav__menu">
        <img src="{% static 'image/menu.svg' %}" alt="" class="nav__img">
    </div>
</nav>