{% load static %}
<nav class="nav container">
    <div class="nav__logo">
        <h2 class="nav__tittle">Kepler</h2>
    </div>
    <ul class="nav__link nav__link--menu">
        <li class="nav__items">
            <a href="{% url 'home' %}" class="nav__links">Inicio</a>
        </li>
        <li class="nav__items">
            <a href="{% url 'home' %}#about_us" class="nav__links">Nosotros</a>
        </li>
        <li class="nav__items">
            <a href="{% url 'shop' %}" class="nav__links">Tienda</a>
        </li>
        {% if not user.is_authenticated %}
            <li class="nav__items">
                <a href="/accounts/login/" class="nav__links">Iniciar sesión</a>
            </li>
        {% else %}
            <li class="nav__items">
                <a href="/accounts/me/" class="nav__links">Mi perfil</a>
            </li>
            <li class="nav__items">
                <a href="/surveys/me/" class="nav__links">Encuestas</a>
            </li>
            <li class="nav__items">
                Puntos: {{ user.point }}
            </li>
            <li class="nav__items">
                Carrito: {{ shopping_car_quantity }}
            </li>
            <li class="nav__items">
                <a href="/accounts/logout/" class="nav__links">Cerrar sesión</a>
            </li>
        {% endif %}
        <img src="{% static 'image/close.svg' %}" alt="" class="nav__close">
    </ul>
    <div class="nav__menu">
        <img src="{% static 'image/menu.svg' %}" alt="" class="nav__img">
    </div>
</nav>
