/* body {
    background-image: url('../../../img/background.jpg');
} */
.form {
    background-color: #204180;
    border-radius: 30px;
    box-sizing: border-box;
    height: 800px;
    padding: 60px;
    width: 320px;
}