{% load static %}
<!DOCTYPE html>
<html>
  <head>
    {% include 'partials/head.html' %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    
    <title>Términos y privacidad - Kepler</title>
    <style>
    body {
        font-family: 'Poppins', sans-serif;
        
    }</style>
  </head>
  <body>
    <header class="hero">
        {% include 'partials/navbar.html' %}
        <section class=" hero__container container">
            <h1 class="hero__title">Tienda de Cafe Kepler</h1>
            <p class="hero__paragraph">Términos, condiciones y privacidad</p>
        </section>   
    </header>

    <main>

        <section class="questions container my-2 py-0">
            <h2 class="subtitle">Términos y Condiciones de Uso y Autorización de Tratamiento de Datos de la Aplicación Web Kepler Café</h2>
            <p class="questions__paragraph">Por favor, lea detenidamente estos Términos y Condiciones de Uso y Autorización de Tratamiento de Datos antes de utilizar la aplicación web Kepler Café. Al acceder o utilizar la Aplicación, usted acepta cumplir con estos términos y condiciones y otorga su autorización para el tratamiento de sus datos personales.</p>

            <p class="questions__paragraph" style="font-weight: bold;">
                Al utilizar Kepler Café, usted acepta cumplir y estar sujeto a estos Términos y Condiciones de Uso y Autorización de Tratamiento de Datos, así como a nuestra Política de Privacidad. Si no está de acuerdo con alguno de estos términos, le rogamos que no utilice la Aplicación.
            </p>
            <ol class="questions__paragraph">
                <li class="mt-1"  style="font-style: italic;">
                    Para utilizar ciertas características de la Aplicación, puede ser necesario registrarse y crear una cuenta de usuario. Usted es responsable de mantener la confidencialidad de su información de inicio de sesión y contraseña.
                </li>
                <li class="mt-1" style="font-style: italic;">
                    Usted acepta proporcionar información precisa y actualizada al registrarse en la Aplicación.
                </li>
                <li class="mt-1" style="font-style: italic;">
                    Kepler Café permite a los usuarios realizar preguntas y recibir respuestas de otros usuarios.No se permite contenido ofensivo, difamatorio o inapropiado en las preguntas y respuestas.
                </li>
                <li class="mt-1" style="font-style: italic;">
                    La Aplicación presenta una variedad de productos relacionados con el café y categorías para organizarlos. Los productos y categorías están destinados únicamente para fines informativos y de compra.
                </li>
                <li class="mt-1" style="font-style: italic;">
                    Puede realizar compras a través de la Aplicación agregando productos a su carrito de compras.Asegúrese de revisar cuidadosamente su pedido antes de confirmarlo, ya que no se aceptarán devoluciones o cambios después de la compra.
                </li>
                <li class="mt-1" style="font-style: italic;">
                    Todos los derechos de propiedad intelectual relacionados con la Aplicación y su contenido pertenecen a Kepler Café. No se permite la reproducción, distribución o modificación no autorizada del contenido de la Aplicación.
                </li>
                <li class="mt-1" style="font-style: italic;">
                    Usted autoriza a Kepler Café a recopilar, almacenar y procesar sus datos personales de acuerdo con nuestra Política de Privacidad. Los datos recopilados se utilizarán para mejorar su experiencia en la Aplicación y brindarle información relevante.
                </li>
                <li class="mt-1" style="font-style: italic;">
                    Kepler Café se reserva el derecho de modificar estos Términos y Condiciones en cualquier momento. Los cambios entrarán en vigor tan pronto como se publiquen en la Aplicación.
                </li>
                <li class="mt-1" style="font-style: italic;">
                    Kepler Café puede, a su entera discreción, terminar o suspender su cuenta si viola estos Términos y Condiciones.
                </li>
                <li class="mt-1" style="font-style: italic;">
                    Si tiene alguna pregunta o inquietud con respecto a estos Términos y Condiciones o al tratamiento de sus datos personales, puede ponerse en contacto con nosotros.
                </li>
            </ol>
        </section>

        <section class="questions container my-5 py-0">
            <h2 class="subtitle mt-3">Política de Privacidad de la Aplicación Web Kepler Café</h2>
            <h5 class="mb-5">Fecha de vigencia: [05/09/2023]</h5>
            <p class="questions__paragraph">En Kepler Café, nos comprometemos a proteger su privacidad y a garantizar la seguridad de sus datos personales. Esta Política de Privacidad explica cómo recopilamos, usamos y protegemos su información cuando utiliza nuestra aplicación web Kepler Café.</p>

            <ol class="questions__paragraph">
                <li class="mt-1"  style="font-style: italic;">
                    <strong>Compartir Información</strong>
                    <p style="margin-left: 2vw;">
                        <strong>Terceros de Confianza:</strong> Podemos compartir su información con terceros de confianza, como proveedores de servicios de pago, para procesar sus compras.
                    </p>
                    <p style="margin-left: 2vw;">
                        <strong>Cumplimiento Legal:</strong> Revelaremos su información si así lo exige la ley o si es necesario para proteger nuestros derechos, propiedad o seguridad, o la de otros usuarios.
                    </p>
                </li>
                <li class="mt-1" style="font-style: italic;">
                    <strong>Seguridad de Datos</strong>
                    <p style="margin-left: 2vw;">
                        Utilizamos medidas de seguridad razonables para proteger su información personal contra el acceso no autorizado, la divulgación o la destrucción.
                    </p>
                </li>
                <li class="mt-1" style="font-style: italic;">
                    <strong>Cambios en la Política de Privacidad</strong>
                    <p style="margin-left: 2vw;">
                        Podemos actualizar esta Política de Privacidad en cualquier momento. La fecha de vigencia se indicará en la parte superior del documento.
                    </p>
                </li>
                <li class="mt-1" style="font-style: italic;">
                    <strong>Sus Derechos</strong>
                    <p style="margin-left: 2vw;">
                        Puede acceder, corregir o eliminar algunas cosas de su información personal en cualquier momento a través de la configuración de su cuenta.
                    </p>
                </li>
                <li class="mt-1" style="font-style: italic;">
                    <strong>Contacto</strong>
                    <p style="margin-left: 2vw;">
                        Si tiene alguna pregunta o inquietud con respecto a nuestra Política de Privacidad o al tratamiento de sus datos personales, puede ponerse en contacto con nosotros.
                    </p>
                </li>
            </ol>
            <p class="questions__paragraph" style="font-weight: bold;">
                Al utilizar la Aplicación Kepler Café, usted acepta los términos de esta Política de Privacidad. Le recomendamos que la revise periódicamente para estar al tanto de cualquier cambio. Su privacidad es importante para nosotros, y estamos comprometidos a protegerla de manera efectiva.
            </p>
        </section>

        {% include "partials/footer.html" %}
  </body>
</html>