{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
  {% include 'partials/head.html' %}
  <title>Encuestas - Kepler</title>
  <!-- <link rel="stylesheet" href="{% static 'css/encuesta.css' %}" /> -->
</head>
    
    <!-- <link rel="shortcut icon" href="/image/grano.svg" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script> -->
    <!-- <link rel="stylesheet" href="/css/editusu.css" />
    <script
      src="https://kit.fontawesome.com/7e5b2d153f.js"
      crossorigin="anonymous"
    ></script> -->
<header>
  <header>
    {% include 'partials/navbar.html' %}
    <style>
      .star {
          font-size: 30px;
          cursor: pointer;
          color: #d4d4d4;
          transition: color 0.25s;
        }

        .star:hover,
        .star.active {
          color: #ffc107;
        }
    </style>
</header>
    
  <body>
    

  <form method="post" action="/surveys/do/">
    {% csrf_token %}
    <h3>Encuestas {{name}}</h3>
    <p>Pregunta {{survey_id}}: {{question_description}}</p>
    
    <!-- <select class="form-select" id="qualityRating" name="survey_scores[{{ survey.survey_id }}]">
        <option value="" disabled selected>Selecciona una opción</option>
        <option value="1" {% if survey.score == 1 %}selected{% endif %}>1 - Muy baja calidad</option>
        <option value="2" {% if survey.score == 2 %}selected{% endif %}>2 - Baja calidad</option>
        <option value="3" {% if survey.score == 3 %}selected{% endif %}>3 - Calidad promedio</option>
        <option value="4" {% if survey.score == 4 %}selected{% endif %}>4 - Buena calidad</option>
        <option value="5" {% if survey.score == 5 %}selected{% endif %}>5 - Excelente calidad</option>
    </select> -->

    <textarea class="form-description" id="comments" rows="1"></textarea>
    {{description}}
    <input type="hidden" name="score" id="score" value="0">
    
    <div class="rating" id="rating_question" data-product="product-2">
      <span id="star1" class="star star_question" data-rating="1">&#9733;</span>
      <span id="star2" class="star star_question" data-rating="2">&#9733;</span>
      <span id="star3" class="star star_question" data-rating="3">&#9733;</span>
      <span id="star4" class="star star_question" data-rating="4">&#9733;</span>
      <span id="star5" class="star star_question" data-rating="5">&#9733;</span>
    </div>
    <button type="submit" class="btn btn-survey">Enviar<span class="icon-buttons icon-upload"><i class="fas fa-sign-in-alt"></i></span></button>
  </form>
  <div class="errorsContainer">
    {% if survey_errors %}
        {% for field, error_list in survey_errors.items %}
            {% for error in error_list %}
                <strong>{{ error }}</strong>
            {% endfor %}
        {% endfor %}
    {% endif %}
  </div>
    







    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script> -->

    <!-- <script src="/js/encuesta.js"></script>
    <script src="/js/link.js"></script> -->
    {% include "partials/footer.html" %}
</body>
</html>