<div class="content-section">
    <div class="row mx-auto justify-content-center">

        <div class="card m-4" style="width: 18rem;">
            <div class="card-body">
                <h5 class="cart-title text-center">Product Name</h5> 
                <div style-"font-size: 30px;" class="text-center">
                    <span></span> 
                </div>
                <h3 class="text-center"> {{ name }}</h3> 
                <img
                    src="/media/{{image_product}}"
                    alt="{{item.name}}"
                />
            </div>
        </div>
    </div> 
</div>