{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'partials/head.html' %}
    <title>Tienda en línea</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <header>
        {% include 'partials/navbar.html' %}
        </header>
    <div class="container mt-5">
        <h1>Tienda en línea</h1>
        <div class="row">
            <div class="col-md-3">
                <h3>Filtrar por Categoría</h3>
                <select id="pk" class="form-control">
                    <option value="">Todas las categorías</option>
                    <option value="category_name">Bebidas</option>
                    <option value="category_name">Comestibles</option>
                    <option value="category_name">Fertilizantes</option>
                </select>
            </div>
            <div class="col-md-9">
                <h3>Productos</h3>

	<form method="" action="/shop/">
					{% csrf_token %}
				<h2>{{ item.name}}</h2>
                <div id="products-container" class="row">
					<p class="name">Nombre : ${{name}}</p>
					<p class="money_unit_price">Precio : {{money_unit_price}}</p>
					<p class="point_unit_price">Puntos : {{point_unit_price}}</p>
					<p class="weight">Peso : {{weight}}</p>
					<p class="category_name">Categoria : {{category_name}}</p>
					<a href="{% url 'product_description' %}?id={{item.pk}}" class="btn-add-cart">Ver detalle</a>
				</div>
                <a href="carrito.html" class="btn btn-primary">Agregar al Carrito</a>
            


			     <div id="products-container" class="row">
					<p class="name">Nombre : ${{name}}</p>
					<p class="money_unit_price">Precio : {{money_unit_price}}</p>
					<p class="point_unit_price">Puntos : {{point_unit_price}}</p>
					<p class="weight">Peso : {{weight}}</p>
					<p class="category_name">Categoria : {{category_name}}</p>
			 		<a href="{% url 'product_description' %}?id={{item.pk}}" class="btn-add-cart">Ver detalle</a>
			    </div>
				<a href="carrito.html" class="btn btn-primary">Agregar al Carrito</a>

			    <div id="products-container" class="row">
					<p class="name">Nombre : ${{name}}</p>
					<p class="money_unit_price">Precio : {{money_unit_price}}</p>
					<p class="point_unit_price">Puntos : {{point_unit_price}}</p>
					<p class="weight">Peso : {{weight}}</p>
					<p class="category_name">Categoria : {{category_name}}</p>
					<a href="{% url 'product_description' %}?id={{item.pk}}" class="btn-add-cart">Ver detalle</a>
		        </div>
				<a href="carrito.html" class="btn btn-primary">Agregar al Carrito</a>
			    </div>
			    </div>
			





			<a href="carrito.html" class="btn btn-primary">Ver Carrito</a>
		</div>
        </div>
    </div>

    {% include "partials/footer.html" %}
	<script src="{% static 'products.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script></script>
</body>
</html>
